# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

cmd/sc-gs1
sc-gs1.sh
sc_gs1.log
sc_gs1_user.log
sc_gs1_party.log
sc_gs1_order.log
sc_gs1_tax.log
sc_gs1_logistics.log
sc_gs1_invoice.log
sc_gs1_epcis.log
sc_gs1_meat.log
internal/common/keys
frontend/node_modules
frontend/.env
